
<!-- <div class="main-body-wrapper">
  <div class="login-container">
    <div class="login-form">
      <div class="form-header"></div>
    </div>
  </div>
</div>	
  <div class="background-cover d-flex justify-content-center">
    <div class="flex flex-column">
      <label for="username">Username</label>
      <input 
          pInputText 
          id="username" 
          aria-describedby="username-help" 
          />
      
  </div>
  <div class="flex flex-column">
    <label for="username">Password</label>
    <p-password    
    promptLabel="Choose a password"
    weakLabel="Too simple" 
    mediumLabel="Average complexity" 
    strongLabel="Complex password" />
    
</div>
<a routerLink="/pharmacy" href="pharmacy">Register</a>
	</div>
     -->

    
     <div class="login-main-wrapper container d-flex justify-content-center align-items-center min-vh-100">
      <div class="login-form w-100">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card box-shadow">
            <div class="card-body pt-7 p-4 login-wrapper">
              <div class="text-center login-img mb-4">
                <img src="assets/images/logo.png" alt="wellgistics-logo" width="88" class="img-fluid">
              </div>
              <div class="mt-3 text-center">
                <span class="text-decoration-none">Please change your Password by click Here!</span>
              </div>
              <form action="#" method="POST">
                <p-button label="Change Password" [disabled]="isDisabled" (click)="changePassword()" />
              </form>
              <div class="mt-3 text-center" *ngIf="isDisabled">
                <span class="text-decoration-none">{{changePasswordResponse}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>