<div class="sidemenu-wrapper menu-width">
    <div class="side-menu-inner">
        <div class="brandlogo p-4">
            <img src="assets/images/brandlogo.png" alt="wellgistics-logo" width="200">
        </div>
        <div class="menu-items">
            <ul>
                <li class="p-2 active"><a class="dropdown-item" href="">
                    <i class="pi pi-home px-2" style="font-size: 1rem"></i>
                    <span class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="p-2"><a class="dropdown-item">
                    <p-tree class="w-full " [value]="filelist" />
                    </a>
                </li>
                <li class="p-2"><a class="dropdown-item" href="">
                    <i class="pi pi-shopping-cart px-2" style="font-size: 1rem"></i>
                    <span class="align-middle">Orders</span>
                    </a>
                </li>
                <li class="p-2"><a class="dropdown-item" href="">
                    <i class="pi pi-info-circle px-2" style="font-size: 1rem"></i>
                    <span class="align-middle">Information</span>
                    </a>
                </li>
                <li class="p-2"><a class="dropdown-item" href="">
                    <i class="pi pi-bell px-2" style="font-size: 1rem"></i>
                    <span class="align-middle">Notifications</span>
                    </a>
                </li>
                <li class="p-2"><a class="dropdown-item" href="">
                    <i class="pi pi-chart-line px-2" style="font-size: 1rem"></i>
                    <span class="align-middle">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
